[Unit]
Description=Unmount password
; After=gallery.service drive.service
After=home-eren-password.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart= umount /home/eren/password

[Install]
WantedBy=default.target
