[Unit]
Description=Backup configurations and files

[Service]
Restart=always
RestartSec=30m
ExecStart= /home/eren/utils/backup.sh

[Install]
WantedBy=default.target
