[Unit]
Description=Backup configurations and files

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Unit=backup.service

[Install]
WantedBy=default.target
