[Unit]
Description=Backup configurations

[Service]

ExecStart=/home/eren/.config/systemd/user/dotfiles.sh
WorkingDirectory=/home/eren/.dotfiles

[Install]
WantedBy=default.target
