* {
  font-family: Cozette;
}

window#waybar {
  background: rgba(0, 0, 0, 1);
  color: #fdf6e3;
  margin: -1px;
  border-color: #fdf6e3;
  border-width: 1px;
  /* border-style: solid; */
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#network,
#custom-gpu,
#custom-gpu-temp,
#custom-gpu-power,
#custom-gpu-memory {
  padding: 0 7px;
}

#workspaces button {
  color: #fdf6e3;
}

#workspaces button.active {
  background: #fdf6e3;
  color: #000;
  border-radius: 0px;
}

#custom-logo {
  font-size: 26px;
  padding-right: 7px;
  padding-bottom: 1.5px;
}
