* {
  font-size: 15px;
  font-family: Monospace;
}

window#waybar {
  background: #000000;
  color: #fdf6e3;
  margin: -1px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#network,
#custom-gpu,
#custom-gpu-temp,
#custom-gpu-power,
#custom-gpu-memory {
  padding: 0 10px;
}

#custom-menu {
  padding: 0 15px;
  font-size: 34px;
}

#workspaces {
  font-size: 20px;
}

#workspaces button.active {
  background: #fdf6e3;
  color: #000;
  border-radius: 0px;
}
