[Unit]
Description=Backup files

[Service]
User=eren
Restart=always
RestartSec=3600s
ExecStart= /usr/bin/rsync -a --delete $HOME/ssd/drive-cipher $HOME/backup

[Install]
WantedBy=multi-user.target
