[Unit]
Description=Backup files

[Service]
User=root
Restart=always
RestartSec=15m
ExecStart= /home/eren/utils/backup.sh

[Install]
WantedBy=multi-user.target
