[Unit]
Description=Mount Gallery Service
After=home-eren-password.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=eren
ExecStart= /usr/bin/gocryptfs /home/eren/ssd/drive-cipher /home/eren/Drive -passfile=/home/eren/password/password_drive

[Install]
WantedBy=multi-user.target
