[Unit]
Description=Unmount password
After=gallery.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart= umount /home/eren/password

[Install]
WantedBy=multi-user.target
