*
!helix
!helix/*\.toml
!helix/**/\.toml
!autostart
!autostart/**
!tmux
!tmux/**
!MangoHud
!MangoHud/**
!nvim
!nvim/**
!polybar
!polybar/**
!VSCodium
!VSCodium/User
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!wireplumber
!wireplumber/**
!systemd
!systemd/user
!systemd/user/*.service
!systemd/user/*.old
!alacritty
!alacritty/**
!starship.toml
!.gitignore


!plasma-org.kde.plasma.desktop-appletsrc
!kded5rc
!kdeglobals
!kglobalshortcutsrc
!khotkeysrc
!kscreenlockerrc
!kwinrc
!kwinrulesrc
!plasmarc
!plasmashellrc
!Trolltech.conf
!spectaclerc

nvim/lazy-lock*.json
