*
!tmux
!tmux/**
!MangoHud
!MangoHud/**
!nvim
!nvim/**
!VSCodium
!VSCodium/User
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!wireplumber
!wireplumber/**
!systemd
!systemd/user
!systemd/user/*
!systemd/root
!systemd/root/*
!alacritty
!alacritty/**
!hypr
!hypr/**
!waybar
!waybar/**
!starship.toml
!.gitignore

nvim/lazy-lock*.json
