*
!helix
!helix/*\.toml
!helix/**/\.toml
!tmux
!tmux/**
!MangoHud
!MangoHud/**
!nvim
!nvim/**
!polybar
!polybar/**
!VSCodium
!VSCodium/User
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
!wireplumber
!wireplumber/**
!cura
!cura/**
!alacritty
!alacritty/**
!starship.toml
!.gitignore


!gtk-3.0
!gtk-3.0/**
!gtk-4.0
!gtk-4.0/**
!plasma-workspace
!plasma-workspace/**
!plasma-org.kde.plasma.desktop-appletsrc
!kded5rc
!kdeglobals
!kglobalshortcutsrc
!khotkeysrc
!kscreenlockerrc
!kwinrc
!kwinrulesrc
!plasmarc
!plasmashellrc
!Trolltech.conf
!spectaclerc
!krunnerrc

nvim/lazy-lock*.json
