[Desktop Entry]
Name=Counter-Strike 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/730// -sdlaudiodriver pipewire
Icon=steam
Terminal=false
Type=Application
Categories=Game;
