[Desktop Entry]
Exec=/home/eren/.local/bin/dropdown
Name=/home/eren/.local/bin/dropdown
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
