[Desktop Entry]
Categories=Network;
Comment[en_US]=A private YouTube client
Comment=A private YouTube client
Exec=/opt/FreeTube/freetube --enable-features=UseOzonePlatform --ozone-platform=wayland %U
GenericName[en_US]=
GenericName=
Icon=freetube
MimeType=
Name[en_US]=FreeTube
Name=FreeTube
Path=
StartupNotify=true
StartupWMClass=FreeTube
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
