[Desktop Entry]
Exec=/home/eren/.local/bin/launcher
Name=/home/eren/.local/bin/launcher
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
