[Desktop Entry]
Name=Mount & Blade II: Bannerlord
Comment=Play this game on Steam
Exec=steam steam://rungameid/261550
Icon=steam
Terminal=false
Type=Application
Categories=Game;
