[Desktop Entry]
Exec=/home/eren/.local/bin/run_launcher
Name=/home/eren/.local/bin/run_launcher
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
