@import url("floating_search.css");
@import url("oneliner.css");
@import url("bookmarks_on_hover.css");

* {
  font-family: "Cozette" !important;
}

#unified-extensions-button {
  order: -1 !important;
}

.tabbrowser-tab {
  max-width: 0px !important;
}
.tabbrowser-tab .tab-close-button {
  display: none;
}
.tabbrowser-tab .tab-label-container {
  display: none;
}
